.widget-datagrid {
    .th.widget-datagrid-col-select,
    .td.widget-datagrid-col-select {
        align-items: center;
    }
}

.widget-datagrid-modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes overlayShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
